{% trans_default_domain 'BenGorUser' %}

{## This css is a trade off because this view does not know anything about LIN3SAdminBundle #}
<link rel="stylesheet" href="{{ asset('bundles/lin3sadmin/css/bundle.min.css') }}" type="text/css">
{##}

<link rel="stylesheet" href="{{ asset('bundles/lin3scmskernel/css/bundle.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/cmskernelbengoruserbridge/css/bundle.min.css') }}" type="text/css">

<article class="bengor-user-login">
    <picture>
        <source srcset="{{ asset('bundles/cmskernelbengoruserbridge/images/login-bg.webp') }}" type="image/webp">
        <source srcset="{{ asset('bundles/cmskernelbengoruserbridge/images/login-bg.jpg') }}" type="image/jpeg">
        <img class="bengor-user-login__background"
             src="{{ asset('bundles/cmskernelbengoruserbridge/images/login-bg.jpg') }}"
             alt="Admin login background"
        />
    </picture>

    <form action="{{ path(login_check) }}" method="post" class="bengor-user-login__form">
        <div class="bengor-user-login-form__group">
            <div class="bengor-user-login__form-header">
                ¡Hola!
            </div>
        </div>

        <div class="bengor-user-login-form__group">
            {% include '@CmsKernelBenGorUserBridge/svg/login_user.svg.twig' with {
                class: 'bengor-user-login__icon'
            } %}
            <input class="bengor-user-login__form-input" type="email" id="email" name="_email" autofocus
                   value="{{ last_email }}"/>
            <label class="bengor-user-login__form-label" for="email">
                {{- 'security.view_email_label'|trans -}}
            </label>
        </div>

        <div class="bengor-user-login-form__group">
            {% include '@CmsKernelBenGorUserBridge/svg/login_key.svg.twig' with {
                class: 'bengor-user-login__icon'
            } %}
            <input class="bengor-user-login__form-input" type="password" id="password" name="_password"/>
            <label class="bengor-user-login__form-label" for="password">
                {{- 'security.view_password_label'|trans -}}
            </label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        {% if error %}
            <div class="bengor-user-login-form__group">
                <div class="bengor-user-login__form-error">
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            </div>
        {% endif %}

        <div class="bengor-user-login-form__group">
            <button class="bengor-user-login__form-submit" type="submit">
                {{ 'security.view_submit_button'|trans }}
            </button>
        </div>
    </form>

    <section class="bengor-user-login__footer">
        <p>
            Ryan Mcgilchrist<br>
            {% include '@CmsKernelBenGorUserBridge/svg/login_creative_commons.svg.twig' with {
                class: 'bengor-user-login__icon--creative-commons'
            } %}
        </p>
        <p>
            {{ date()|date('h:i a') }} <br>
            {{ date()|localizeddate('full', 'none', app.request.locale) }}
        </p>
    </section>
</article>

<script src="{{ asset('bundles/lin3scmskernel/js/bundle.min.js') }}"></script>
<script src="{{ asset('bundles/cmskernelbengoruserbridge/js/bundle.min.js') }}"></script>
